.login-form input{
    margin-bottom: 15px;
    border-radius: 15px;
}

.login-btn{
    background-color: #27abba;
    color: white;
    font-weight: 500;
    border-radius: 15px; 
    padding: 8px 15px;
}

.login-btn:hover{
    background-color: #55c4d0;
}

.register-link{
    text-decoration: none;
    color: #27abba;
    padding: 0;
    background-color: white;
    border: none;
}

.register-link:hover{
    color: #55c4d0;
}