
.service{
    border-radius: 10px;
    padding-bottom: 10px;
    text-align: center;
    width: 350px;
}

.service img{
    width: 320px;
    margin: 15px;
    border-radius: 10px;
}

.service-details{
    width: 320px;
}

.service-name{
    color: #27abba;
    font-size: 28px;
    margin: 5px 0;
}

.booking-button{
    margin-top: 5px;
    padding: 9px 20px;
    border: none;
    border-radius: 15px;
    color: white;
    background-color: #27abba;
    font-weight: 500;
}

.booking-button:hover{
    background-color: #55c4d0;
}