.nav-links{
    text-decoration: none;
    padding: 10px 10px;
    margin-right: 15px;
}

.sign-out-btn{
    color: #27abba;
    font-weight: bold;
    border-radius: 15px;
    text-decoration: none;
    border: none;
}

.sign-out-btn:hover{
    color: #55c4d0;
}